@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

* {
  font-family: Roboto, sans-serif;
}
.primary-btn {
  @apply btn text-sm sm:text-base;
  padding: 5px 30px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50px;
  background: linear-gradient(180deg, #92f4f8, #2fb9d8);
  color: #fff;
  border: none;
  box-shadow: 0px 4px 10px rgba(83, 210, 238, 0.6);
}
.primary-btn:hover {
  transition: all 0.1s ease-in-out;
  background: linear-gradient(180deg, #04d6dd, #2fb9d8);
}
.table {
  @apply w-full;
  border-collapse: collapse;
  border: 2px solid black;
  overflow: hidden;
  th {
    @apply border-2 border-black rounded-xl;
  }
  td {
    @apply border-2 border-black sm:p-3 p-2;
  }
}
.cyan-shadow {
  box-shadow: 0px 0px 30px rgba(0, 187, 193, 0.6);
}
.text-cyan {
  color: #00bbc1;
}
.bg-cyan {
  background-color: #00bbc1;
}
.text-cyan {
  color: #00bbc1;
}

p {
  @apply text-lg;
  color: #737373;
}
.secondary-btn {
  @apply btn text-sm sm:text-base;
  background: white;
  color: #00bbc1;
  padding: 5px 30px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 10px rgba(83, 210, 238, 0.6);
}
